<h1>Editing Availibility Time Slot</h1>

<%= render 'form', availibility_time_slot: @availibility_time_slot %>

<%= link_to 'Show', @availibility_time_slot %> |
<%= link_to 'Back', availibility_time_slots_path %>
